version: '3'
services:
  dashboard:
    build: .
    image: gott50/saas-bot
    volumes:
      - ./src/uploads:/app/uploads
    ports:
      - 5000:5000
    environment:
      - UPLOAD_FOLDER=./uploads
      - TMP_FOLDER=./tmp
    env_file:
      - .env/.bot-manager.env