version: '3'
services:
  bot:
    build: .
    image: gott50/saas-bot
    volumes:
      - ./src/uploads:/app/uploads
    ports:
      - 5000:5000
    depends_on:
      - selenium
    links:
      - selenium:selenium
    environment:
      - UPLOAD_FOLDER=./uploads
  selenium:
    image: selenium/standalone-chrome
    shm_size: 128M
    ports:
    - "4444:4444"