<!doctype html>
<form>
    <div>
        <label for="username">Username:
            <input type="text" name="username" required>
        </label>
    </div>
    <div>
        <label for="password">Password:
            <input type="password" name="password" required>
        </label>
    </div>
    {% for item in uploads %}
        <div>
            <label for="{{ item }}">
                <input type="checkbox" name="{{ item }}">{{ item }}</label>
        </div>
    {% endfor %}
</form>
<button onclick='submit()' value=Start>Start</button>


<h3>Upload new File</h3>
<form method=post enctype=multipart/form-data>
    <p><input type=file name=file required>
        <input type=submit value=Upload>
</form>


<div>
    <h3>Task Status</h3>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Result</th>
            <th>Meta</th>
        </tr>
        </thead>
        <tbody id="tasks">
        </tbody>
    </table>
</div>

<!-- scripts -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>