/*!
    JQueryUI.js 1.10.2

    Microsoft grants you the right to use these script files for the sole purpose of interacting 
    through your browser with the Microsoft website, subject to the website's terms of use. 
    Microsoft reserves all other rights to the files not expressly granted by Microsoft, whether 
    by implication, estoppel or otherwise. The notices and licenses below are for informational purposes only.

    * JQueryUI.js 1.10.2
    * Copyright 2013 jQuery Foundation and other contributors, AUTHORS.txt (http://jqueryui.com/about)
    * http://jqueryui.com/
    * Originally licensed by authors under the MIT license.
    *******************************************************************
    *Includes Interface
    // Some named colors to work with
    // From Interface by Stefan Petre
    // http://interface.eyecon.ro/
    *Collection originally license by authors under the MIT License.
    ****************************************************************************
    *Includes Metadata
    /*
    * Metadata - jQuery plugin for parsing metadata from elements
    * Copyright (c) 2006 John Resig, Yehuda Katz, J?�rn Zaefferer, Paul McLanahan
    * Originally licensed by authors under the MIT license:
    * http://www.opensource.org/licenses/mit-license.php
    *************************************************************************
    *Includes jQuery 1.6.2
    * jQuery JavaScript Library v1.6.2
    * http://jquery.com/
    * Copyright 2011, John Resig
    * Originally licensed by authors under the MIT license.
    *************************************************
    * Includes Sizzle.js
    * http://sizzlejs.com/
    * Copyright 2011, The Dojo Foundation
    * Originally licensed by authors under the MIT License.
    ******************************************************
    *Includes jQuery Cookie
    * jQuery Cookie plugin
    * Copyright (c) 2010 Klaus Hartl (stilbuero.de)
    * Originally licensed by authors under the MIT license:
    * http://www.opensource.org/licenses/mit-license.php
    ************************************************
    *Includes jQuery QUnit
    /**
    * QUnit - A JavaScript Unit Testing Framework
    * http://docs.jquery.com/QUnit
    * Copyright (c) 2011 John Resig, J�rn Zaefferer
    * Originally licensed by authors under the MIT (MIT-LICENSE.txt)
    **************************************
    *Includes jQuery Validate and Validation Plug-in
    // From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
    jquery.validate.js was originally distributed by the authors under the MIT license. 
    See e.g. http://www.koders.com/javascript/fid301576DDE33C8D7B5C5313DF7B69293EA551438F.aspx?s=%22Yehuda+Katz%22, which states:
    /*
    * Form Validation: jQuery form validation plug-in v1.1
    * http://bassistance.de/jquery-plugins/jquery-plugin-validation/
    * Copyright (c) 2006 J�rn Zaefferer
    * $Id: jquery.validate.js 2133 2007-06-21 18:50:13Z joern.zaefferer $
    * Originally licensed by authors under the MIT license:
    * 
    *************************************************************************
    *Includes Easing Equations
    *
    * TERMS OF USE - EASING EQUATIONS
    * Originally Open source under the BSD License by authors.
    *
    * Copyright 2001 Robert Penner
    * All rights reserved.
    ******************************************************************* 
    MIT License Provided for Informational Purposes Only for jQuery UI and subcomponents listed above:
    MIT License
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    *************************************************************************
    *Includes jQuery Easing v1.3
    /*
    * jQuery Easing v1.3 - http://gsgd.co.uk/sandbox/jquery/easing/
    * Uses the built in easing capabilities added In jQuery 1.1
    * to offer multiple easing options
    * TERMS OF USE - jQuery Easing
    * Originally open source by authors under the BSD License.
    * Copyright 2008 George McGinley Smith
    * All rights reserved.
    BSD License provided for Informational Purposes Only
    BSD License
    Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
    Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
    Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

/*!
 * jQuery UI Tabs 1.10.2
 * http://jqueryui.com
 *
 * Copyright 2013 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

/* css.reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end css.reset */

a {
    color: #1570a6;
    font-weight: bold;
}

    a:hover, a:focus {
        text-decoration: underline;
    }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Segoe UI, Segoe, Segoe Light, Segoe UI Light, Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #000;
    background-color: #fff;
}


.Button {
    padding: 0.4em 1em;
    background: #008A00 !important;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    font-size: 80% !important;
    border: 0px;
    color: #FFF;
}

    .Button:hover, .Button:focus {
        background: #007233 !important;
    }

    .Button:disabled {
        background-color: #CCCCCC !important;
        color: #333;
    }

#AssessmentIntroductionContainer {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 30%;
}

#AssessmentIntroductionTitle {
    font-size: 20px;
    color: #007233;
    margin-bottom: 25px;
}

#AssessmentIntroductionInstructions1 {
    font-weight: bold;
}

#AssessmentIntroductionButton {
    float: right;
    bottom: 0px;
    margin-top: 25px;
}

#Assessment, #editor, .AssessmentIntroductionContainer {
    height: 100%;
}

.AssessmentSettingsContainer {
    overflow-y: auto;
}

#editor #AssessmentSettingsView, #editor #ObjectivesView, #editor #QuestionView {
    top: 0;
    position: relative;
    max-height: 85%;
}

#QuestionView { /*margin-top: 100px; */
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85% !important;
}

#QuestionContent {
    height: 65% !important;
    margin-bottom: 15px;
}

#AssessmentSettingsView div, #ObjectivesView td, #QuestionView td {
    vertical-align: top;
    padding: 5px;
}

#QuestionTable, .IntroBody {
    height: 100%;
    overflow: hidden; /*font-size: 14px;*/
}

.IntroBody {
    padding: 20px;
}

#QuestionNavBarTitle, .IntroTitle {
    background-color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
}

    #QuestionNavBarTitle .text, .IntroTitle .text {
        top: 16px;
        left: 20px;
        font-size: 18px;
        position: absolute;
        color: #007233;
    }

    #QuestionNavBarTitle .subtext {
        top: 35px;
        left: 20px;
        font-size: 16px;
        position: absolute;
    }

#RightFeedbackViewCell {
    width: 25%;
    background-color: #d2d2d2;
    padding-left: 20px;
    height: 100%;
}
/*.AssessmentPreviousButton { float:left; }
.AssessmentNextButton { float:left; margin-left: 5px; }
.CheckAnswerButton { float:left; margin-left: 30px; }*/
.AssessmentPreviousButton {
    position: absolute;
}

.AssessmentNextButton {
    position: absolute;
    left: 120px;
}

.CheckAnswerButton {
    position: absolute;
    left: 245px;
    margin-right: 20px;
}

.bottomButtons {
    height: 40px;
}

.AssessmentRetakeButton {
    position: absolute;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer */
    background-color: #333;
    color: #fff;
    text-align: center;
}

#QuestionTable {
    width: 100%;
}

.questionCell {
    padding: 20px;
    height: 100%;
}

.QuestionNavTileContainer {
    display: inline-block;
    white-space: nowrap;
}

.QuestionNavTilePrevNext {
    color: #007233;
    font-weight: bold;
}

.QuestionNavTile {
    float: left;
    display: inline-block;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    margin: 0 3px 3px 0; /*font-size:14px;*/
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.QuestionNavTileAnswered {
    background: #008A00 !important;
    border: 1px solid #008A00;
}

.QuestionNavTileUnanswered {
    border: 1px solid #008A00;
}

.QuestionNavTileCurrent {
    background-color: rgb(0,158,73);
    border: 1px solid rgb(0,158,73);
    color: #fff;
    font-weight: bold;
}

#QuestionViewPrompt {
    margin-bottom: 16px;
}

#QuestionViewChoices {
    padding-left: 25px;
}

    #QuestionViewChoices label {
        margin-bottom: 15px;
    }

        #QuestionViewChoices label input {
            width: 15px;
            height: 15px;
            display: table-cell;
            float: left;
            margin-top: 8px;
            margin-right: 5px;
        }

#AssessmentNavBar {
    float: right;
    margin-top: 31px;
    margin-right: 20px;
}

#FeedbackHeader {
    background: url('../../../CourseComponents/assessment/images/sprite_images.png') no-repeat 0 -795px;
    height: 32px;
    padding-left: 40px;
}

#FeedbackHeaderText {
    display: inline;
    margin-top: 10px;
    position: relative;
    top: 4px;
    font-size: 18px;
}

#FeedbackHeader.FeedbackTitleCorrect {
    background-position: 0 -745px;
}

#FeedbackText {
    padding-top: 14px;
}

#ResultsView {
    position: relative;
    padding: 20px; /*font-size:14px;*/
    height: 85% !important;
}

.ResultsViewLine1 {
    margin-bottom: 10px;
    font-size: 18px;
    position: absolute;
    bottom: -15px;
}

.ResultsViewLine2 { /*margin-bottom:10px; font-size:14px;*/
    position: absolute;
    bottom: -20px;
}

.ResultsRightContainer {
    position: absolute;
    right: 20px;
    top: 20px;
}

.ResultsReportHeader {
    font-weight: 700;
    margin-bottom: 15px;
}

.ResultsViewStandard {
    margin-top: 50px;
}

.ReviewPrompt {
    margin-bottom: 5px;
    display: inline;
    color: #000;
    font-weight: normal;
}

.ResultCorrect {
    background: url('../../../CourseComponents/assessment/images/correct-icon.png') no-repeat;
    padding-left: 25px !important;
}

.ResultIncorrect {
    background: url('../../../CourseComponents/assessment/images/incorrect-icon.png') no-repeat;
    padding-left: 25px !important;
}

.ResultNotset {
    padding-left: 25px !important;
}

#QuestionViewChoices .ResultCorrect,
#QuestionViewChoices .ResultIncorrect {
    background-position-y: 7px;
}

.ReportQuestions {
    display: inline-block;
    position: absolute;
    height: 80% !important;
    width: 98.3%;
}

.ReviewReportQuestionLabel, .ReviewChoicesContainer {
    margin-bottom: 10px;
}

.ReviewCorrect {
    clear: both;
}

.scrollable-data-container {
    overflow: auto;
}

.csstable {
    display: table;
    table-layout: fixed;
}

.cssrow {
    display: table-row;
}

.csscell {
    display: table-cell;
}

.ResultsCheckOn {
    background-image: url('../../../CourseComponents/assessment/images/checkbox_on.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 13px;
    text-indent: 1.5em;
    min-height: 19px;
    float: left;
    margin-top: 2px;
}

.ResultsCheckOff {
    background-image: url('../../../CourseComponents/assessment/images/checkbox_off.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 13px;
    text-indent: 1.5em;
    min-height: 19px;
    float: left;
    margin-top: 2px;
}

.ResultsRadioOn {
    background-image: url('../../../CourseComponents/assessment/images/radiobutton_on.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 13px;
    text-indent: 1.5em;
    min-height: 19px;
    float: left;
    margin-top: 2px;
}

.ResultsRadioOff {
    background-image: url('../../../CourseComponents/assessment/images/radiobutton_off.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 13px;
    text-indent: 1.5em;
    min-height: 19px;
    float: left;
    margin-top: 2px;
}


#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 300;
    opacity: 0.8;
}

#overlay-container {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 30%;
    background-color: #fff;
    z-index: 1000;
    display: table;
}

#OverlayMessageContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#OverlayMessageTitle {
    font-size: 20px;
    color: #007233;
    margin-bottom: 10px;
}

.assessment-content-bottom-container {
    position: absolute;
    bottom: 5%;
    left: 20px;
    width: 100%;
}

.assessment-text-container .assesment-access-restricted {
    /*background-size:20px;*/
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-position: -648px -1px;
    background-image: url('../../../Content/images/ITA_icons_sprite.png');
}

.assessment-text-container {
    width: 80%;
    margin-left: 10%;
}

.knowledgecheck-text-container {
    width: 80%;
}

.restrict-text {
    color: #787878;
}

.sucess-text {
    margin-left: 15px;
    color: #008000;
}

#error-view {
    display: table;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

#error-centered {
    display: table-cell;
    vertical-align: middle;
    padding-left: 4%;
}

#error-container {
    display: table;
}

#error-message-container {
    text-align: left;
    color: black;
    display: table-cell;
}

#error-message-icon {
    background-image: url('../../../Content/images/ITA_icons_sprite.png');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-position: -648px -1px;
    margin-right: 10px;
}

#error-message-line1 {
    font-size: 30px;
    margin-bottom: 7px;
}

#error-message-line1, #error-message-line2 {
    font-weight: 300;
}

#error-message-line3 {
    margin-top: 30px;
    font-weight: 100;
}

#assessment-mismatch-result-icon {
    height: 14px;
    padding-left: 0px;
    vertical-align: auto;
}

#assessment-mismatch-line1 {
    font-size: 20px;
    padding-left: 20px;
}

#assessment-mismatch-line2 {
    padding: 20px 0px 0px 40px;
}

.ui-accordion-header {
    cursor: pointer;
    margin: 0px;
}


.accordion-title-icon-expandcollapse {
    background-image: url('../../../CourseComponents/assessment/images/accordian_icons_default.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    background-position: 0px 0px;
    margin-bottom: 8px;
    margin-top: 2px;
}

    .accordion-title-icon-expandcollapse:hover {
        background-position: -40px 0px;
    }

.ui-accordion-header-active.ui-state-active .accordion-title-icon-expandcollapse {
    background-position: -20px 0px;
}

    .ui-accordion-header-active.ui-state-active .accordion-title-icon-expandcollapse:hover {
        background-position: -60px 0px;
    }

.marginL55 {
    margin-left: 55px;
}

.assessment-question {
    display: block;
    margin-bottom: 14px;
    font-weight: normal;
    font-family: 'Segoe UI';
    font-size: 14px;
}

    .assessment-question .question-number {
        vertical-align: top;
        display: inline-block;
        white-space: pre-wrap;
    }

    .assessment-question > p, .assessment-question > span > p {
        display: inline-block;
        margin: 0px;
        width: 95%;
    }

.assessment-option {
    display: block;
    font-size: 13px;
    display: table;
}

.floatL {
    float: left;
}

.marginB13 {
    margin-bottom: 13px;
}

.clearBoth {
    clear: both;
}

.ui-accordion-header .assessment-question {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin-left: 10px;
}

.vertical-top {
    vertical-align: top;
}

.marginT1 {
    margin-top: 1px;
}

.marginT3 {
    margin-top: 3px;
}

#ResultsView td {
    padding: 1px 5px 1px 0px;
}

